@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');


/* const backStyle = {

  backgroundImage: `url(${background})`,
  webkitBackgroundSize: 'cover',
  mozBackgroundSize: 'cover',
  oBackgroundSize: 'cover',
  backgroundSize: 'cover',
  height: '100vh',
  backgroundPosition: 'top center'
} */


p.showcreds {
  margin:auto;
  opacity:0;
}

p.showcredsmobile {
  margin:auto;
  opacity:1;
}


p.showcreds:hover {

  opacity:.75;
}

a.easycomplink {
  color: #52c41a;
  margin:auto
}




body {
  background-image: url('./Background.jpg');
  height:100%;
  background-size:100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;

}



html {
  height: 100vh; /* set viewport constraint */
  min-height: 100%; /* enforce height */
}

.SMDiv {
  border-radius:50%;

  opacity:1;
  width:480px;
  height:480px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.changeSelectedColor {
  opacity:0.5;
  background-color: #ffa39e; /*Overriden property*/
  border-radius:25px;
}

/*Changes the color of the header tabs */
.ant-menu > .ant-menu-item.changeSelectedColor:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  border-radius:25px;
  background-color: #ffa39e;
  color: #08979c;


}



.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 0px solid white
}

.ant-menu-overflow-item > .ant-menu-overflow-item:hover::after,
.ant-menu-item-active > .ant-menu-item-active:hover::after {

}

/*Makes header tabs more oval shaped*/
.ant-menu > .ant-menu-item {
  border-radius:25px;
}

/*Makes about me div have a black background that is somewhat transparent so you can see the txt*/
.AboutMeDiv {
  border-radius:25px;
  opacity:0.8;
  color:white;

  background-color:black;
}

.sectionHeader {
  margin:10px;
  font-size: 20px;
  font-weight: bold;
}
